{% extends "bootstrap/base.html" %}


{% block title %}My Flask App{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Library</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/books/add">Add book</a></li>
                <li><a href="/books/">View books</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; {{ year }} My Flask App</p>
    </div>
</footer>
{% endblock %}
